<section [ngClass]="{'loading': !taskList.length}">
    <ul *ngIf="taskList.length">
        <li *ngFor="let item of taskList; let i = index;">
            <input type="checkbox" [(ngModel)]="item.checked">
            <input type="text" (input)="validationInput(item.task, i)" [ngClass]="{'checked': item.checked}" [(ngModel)]="item.task">

            <button (click)="deleteTask(i)">
                <img src="assets/icons/icon-trash.svg" alt="Deletar">
            </button>
        </li>
    </ul>
</section>

<app-todo-input-add-itens (addItem)="addTask($event)"></app-todo-input-add-itens>
<app-todo-button-delete-all *ngIf="taskList.length" (click)="deleteAllTask()"></app-todo-button-delete-all>